{% extends 'layout.html' %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/imagens/EEUM_eng.png" alt="">
    <h1 class="display-5 fw-bold">Dicionário de Conceitos Médicos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Este dicionário foi criado nas aulas de Processamento de Linguagem Natural em Engenharia Biomédica, com o intuito de disponibilizar vários conceitos médicos, incluindo as suas definições e traduções em várias línguas.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/conceitos" class="btn btn-primary btn-lg px-4 gap-3">Conceitos</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/pesquisa">Pesquisar</a>
      </div>
    </div>
  </div>

{% endblock %}
